.photoList{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}

.photoListItem{
    width: 20%;
    height: auto;
    aspect-ratio: 16 / 9;
}

.photoListItem > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}